div(class="ui header no margin")
    div(class="ui eight item pointing borderless menu padded grid")
        div(class="mobile only row")
            a(class="item", href="/")
                img(class="ui image", src="#{logo.url}", alt="#{logo.alt}", width="128")
            div(class="right menu")
                a(class="toc item")
                    i(class="sidebar icon")
        div(class="computer tablet only centered row")
            // Add Logo
            a(href="/", class="item")
                img(class="ui image", src="#{logoIcon.url}", alt="#{logoIcon.alt}", height="32")
            for category, i in categories
                if category.name === 'Podcasts'
                    a(href="/category/#{category.name}", class=i === activeTab ? 'active item border' : 'item border') #{category.name}
                else
                    a(href="/category/#{category.name}", class=i === activeTab ? 'active item ' : 'item') #{category.name}
            //Add About column
            div(class="ui dropdown item") About
                i(class="dropdown icon")
                div(class="menu")
                    div(class="item")
                        a(href="/about") Our Story
                    div(class="item")
                        a(href="/about/hosts") People
                    div(class="item")
                        a(href="/about/faq") FAQ