div(class="ui vertical inverted sidebar menu right")
    // Add Logo
    a(class="logo", href="/")
        img(src="#{logoIcon.url}",alt="#{logoIcon.alt}", height="100")
    div(class="item") Categories
        for category, i in categories
            a(href="/category/#{category.name}", class=i === activeTab ? 'active item' : 'item') #{category.name}
    //Add About column
    div(class="item") About
        a(href="/about/our-story", class="item") Our Story
        a(href="/about/people", class="item") People
        a(href="/about/faq", class="item") FAQ